<h1>Suppliers</h1>
<%= render 'categoryselect'%>
<%= gmaps4rails(@json) %>

<script type="text/javascript"> 
function gmaps4rails_callback() { 
  // function say_yo(arg) { return function(){alert('yo '+ arg + '!' );};};
  //   for (var i = 0; i <  Gmaps4Rails.markers.length; ++i) {
  //     google.maps.event.addListener(Gmaps4Rails.markers[i].google_object, 'click', say_yo(i));
  //   }
  console.log(Gmaps.map.markers)
}
</script>