<h1>Suppliers</h1>

<%= gmaps4rails(@json) %>
<%= link_to 'Add', new_supplier_path %>

<script type="text/javascript">
$(document).ready(function() {
Gmaps.map.callback = function() {
console.log(Gmaps.map.markers)
}
});
</script>