<h1>Suppliers</h1>

<%= gmaps4rails(@json) %>
<%= form_for :suppliers, :url => {:action => 'index'} do |f| %>
<%= select_tag :category, options_for_select(@categorys.collect{ |u| [u.category] }, @category),{ :prompt => "Filter category", :onchange => "this.form.submit();"}  %>
<% end%>
<script type="text/javascript">
$(document).ready(function() {
Gmaps.map.callback = function() {
console.log(Gmaps.map.markers)
}
});
</script>